<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Piece</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>

</head>
<body>
    <header>
        <nav class="navbar navbar-default" style="background-color: #f0ad4e">
            <div class="container-fluid">
               <div class="navbar-header">
                  <a class="navbar-brand" href="a">AutoStore Demo</a>
             </div>
              <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px">Signed in as Anonymous</p>
            </div>
        </nav>
    </header>
    <div align="center">
        <h1>Add New Piece</h1>
        <br/>
        <form th:onsubmit="return validateForm()" th:id="addForm" action="#" th:action="@{/add}" th:object="${piece}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Piece name:</td>
                    <td><label>
                        <input th:id="pieceNameInput" type="text" th:field="*{pieceName}"/>
                    </label></td>
                    <td><p th:id="pieceNameWarning" style="color: #ac2925"></p></td>
                </tr>
                <tr>
                    <td>Producer:</td>
                    <td><label>
                        <input th:id="producerInput" type="text" th:field="*{producer}"/>
                    </label></td>
                    <td><p th:id="producerWarning" style="color: #ac2925"></p></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>
                        <label>
                        <input th:id="priceInput" type="text" th:field="*{price}"/>
                        </label>
                    </td>
                    <td><p th:id="priceWarning" style="color: #ac2925"></p></td>
                </tr>
                <tr>
                    <td colspan="2"><button th:id="submitButton" type="submit">Save</button></td>
                </tr>

            </table>
        </form>
    </div>
    <footer class="footer" style="position:absolute; bottom:0;background-color: #f0ad4e">
        <div class="container">
            <p th:text="${datetime}" class="text-muted">Page was rendered today!</p>
        </div>
    </footer>

    <script>
        function validateForm(){
            var pieceName = document.getElementById("pieceNameInput").value;
            var producer = document.getElementById("producerInput").value;
            var price = document.getElementById("priceInput").value;
            var pieceNameWarning = document.getElementById("pieceNameWarning");
            var producerWarning = document.getElementById("producerWarning");
            var priceWarning = document.getElementById("priceWarning");
            var formCheck = true;
            var regex = /^[0-9]+\.?[0-9]*$/i;

            if(!pieceName.replace(/\s/g, '').length){
                pieceNameWarning.innerHTML = "Please introduce a piece name!";
                formCheck = false;
            }else{
                pieceNameWarning.innerHTML = null;

            }

            if(!producer.replace(/\s/g, '').length){
                producerWarning.innerHTML = "Please introduce a producer!";
                formCheck = false;
            }else{
                producerWarning.innerHTML = null;

            }

            if(!price.replace(/\s/g, '').length){
                priceWarning.innerHTML = "Please introduce a price!";
                formCheck = false;
                return formCheck;

            }else{
                priceWarning.innerHTML = null;

            }

            if(price <= 0){
                priceWarning.innerHTML = "Please introduce a price higher than 0!";
                formCheck = false;
                return formCheck;

            }else{
                priceWarning.innerHTML = null;

            }

            if(!regex.test(price)){
                priceWarning.innerHTML = "Please introduce a valid price!";
                formCheck = false;
                return formCheck;

            }else{
                priceWarning.innerHTML = null;

            }

            return formCheck;
        }

    </script>

</body>
</html>